@import"reset.scss";
body{
    font-size: 24px;
    background-image:url("../images/login.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    

}
h1
{
    text-align: center;
    font-size: 3.7rem !important;
    font-weight: 400 !important;
    margin-top: 3rem !important;
}
label{
    color:white;
    
}
.form{
  
    padding: 2.5rem 3.9rem;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    
    margin: auto;
    margin-top: 3rem;
    justify-content: center;

  
    input{
        height: 3rem;
        margin-bottom: 1rem;
        border: 2.2px solid hsl(108, 80%, 33%);
        color: white;
        font-size:1.3rem;
        width: 100%;
        background: none;
      
    }
    input::placeholder{
        padding-left: 0.3rem;
        color: white;
    }
  
    &-usename{
background-image:url("../images/user.jpg") !important; 
background-repeat: no-repeat   !important ;
background-size: 40px !important ;
background-position: 97% 50% !important; 


    }
    &-password{
        background-image:url("../images/lock.jpg")  !important; 
        background-repeat: no-repeat   !important ;
        background-size: 50px !important ; 
        background-position: 97% 50% !important; 
        
            }
            a{
                font-size: 1.2rem;
                padding: 0;
                margin-top:1rem;
            }
            &-group{
                label{
                    color:white;

                }
            }
}
button{
    width: 9rem;
    height: 2.5rem;
    cursor: pointer;
    margin:auto;
   
    font-size: 1.2rem !important;
    border: none;
   margin-bottom: 0;
   background-color: hsl(108, 31%, 47%);
   &:hover{
    transition-duration: 0.5s;
       background-color: white;
       color: hsl(108, 75%, 19%);
       
   }
}
.custom-select{
    background: none; 
    color:white;
}

@media only screen and (max-width: 768px)
{
    .form{
        margin: 1rem;
        width: 20vw;
    }
}