.header {
  background: -webkit-linear-gradient(top, #8599c9 0%, #d2f1ed 100%);
}

.header nav {
  background: none;
}

.header nav a {
  color: black;
}

.header nav a:hover {
  color: #557d39;
}

.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 3rem;
  margin-bottom: 0;
}

.header_nav ul li {
  width: auto;
  padding: 2px 1rem;
}

.header_nav ul li a {
  color: #f9f9f9;
  font-size: 1.2rem;
}

.header_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 11vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_intro_1 {
  padding-left: 1rem;
  margin-left: 10vw;
}

.header_intro_1 h1 {
  text-align: center;
}

.header_intro_1 img {
  width: 12vw;
  height: auto;
}

.header_intro_2 {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.header_intro_2 section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 3vw;
  width: auto;
}

.header_intro_2 section input {
  height: 100%;
  width: 28vw;
}

.header_intro_2 section button {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  top: 0;
  widows: 2rem;
  right: 0;
  height: 100%;
  position: absolute;
}

.header_intro_2 section button img {
  margin-left: 2px;
  width: 3vw;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header_intro_2_img {
  margin-left: 1rem;
  width: 2.4rem;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
}

.header_intro_2_img img {
  width: 100%;
  height: 100%;
}

.header_intro_3 {
  padding-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_intro_3 img {
  width: 4rem;
  height: 4rem;
}

.header_intro_3 h5 {
  padding-top: 0.3rem;
}

.nav {
  margin: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_menu:hover {
  opacity: 0.4;
  filter: alpha(opacity=50);
}

.nav_menu {
  height: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 2rem;
}

.nav_menu p {
  margin-bottom: 0;
}

.nav_menu img {
  width: 3rem;
  height: 3rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_btn {
  border: 1px solid #f9f9f9;
  font-size: 16px;
  cursor: pointer;
}

.dropdown_menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_menu a:hover {
  background-color: #8599c9;
}

.dropdown:hover .dropdown_menu {
  display: block;
}

button {
  cursor: pointer;
}

.content {
  background-color: #F5F5F5;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content_item {
  padding-left: 2rem;
}

.content_item_nav {
  padding-left: 0;
  background-color: #DFDFDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_item_nav > h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

.content_item_nav_sort {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_item_nav_sort button:hover {
  background-color: #8599c9;
}

.content_item_nav_sort button {
  border: 0;
  background-color: white;
}

.content_item_nav_sort_item {
  width: 5rem;
  margin: 0 0.6rem;
  height: 2rem;
}

.content_item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content_item_list_item:hover {
  opacity: 0.5;
}

.content_item_list_item {
  padding: 0 0.3rem;
  cursor: pointer;
  width: 12rem;
  -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  height: 17rem;
  background-color: white;
  margin: 1rem 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content_item_list_item img {
  padding: 0.5rem;
  width: 90%;
  height: 50%;
}

.content_item_list_item button {
  background-color: #f88181;
}

.content_item_list_item div {
  font-size: 1rem;
  width: 90%;
  font-weight: 430;
  color: #f54b4b;
}

.content_item_list_item h4 {
  height: 20%;
  font-size: 0.9rem;
  overflow: hidden;
}

.content_item_list_item i {
  font-size: 0.8rem;
}

.content_aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 2.8rem;
  width: 25vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_aside > h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 450;
  margin-bottom: 2rem;
}

.content_aside_section_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_aside_section_checkbox > h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 450;
}

.content_aside_section_checkbox_item article {
  height: 2rem;
  padding-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content_aside_section_checkbox_item article input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content_aside_section_checkbox_item article p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  font-size: 1.2rem;
  padding-left: 0.4rem;
}

.content_aside_section_price {
  margin-top: 2rem;
}

.content_aside_section_price > h3 {
  font-size: 1.2rem;
  text-align: center;
}

.content_aside_section_price section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_aside_section_price section input {
  width: 7.5rem;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .header {
    position: relative;
  }
  .header H1 {
    position: absolute;
    top: 0;
    text-align: center;
    display: block;
    -webkit-transform: translate(50%, 5%);
            transform: translate(50%, 5%);
  }
  .header_intro_1 img {
    width: 5rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 1rem;
    display: block;
    -webkit-transform: translate(0%, 5%);
            transform: translate(0%, 5%);
  }
  .header_intro_2 section {
    height: 2rem;
  }
  .header_intro_2 section input {
    height: 100%;
    width: 50vw;
  }
  .header_intro_2_img {
    width: 1.4rem;
    height: 1.4rem;
  }
  .header_nav {
    display: none;
  }
  .header_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .nav_menu {
    width: auto;
  }
  .nav_menu img {
    width: 2rem;
    height: auto;
  }
  .content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_aside {
    width: 100%;
    padding: 0;
    padding-top: 0.3rem;
  }
  .content_aside h3 {
    margin-bottom: 0.3rem;
  }
  .content_aside_section_checkbox_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content_aside_section_checkbox_item article {
    width: 100px;
    padding: 0;
  }
  .content_aside_section_price {
    padding-top: 0rem;
    margin-top: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content_aside_section_price h3 {
    padding-right: 2rem;
  }
  .content_aside_section_price section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content_aside_section_price section input {
    margin-left: 0.5rem;
    height: 1.7rem;
  }
  .content_item {
    padding: 0;
  }
  .content_item_nav {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-bottom: 0.4rem;
  }
  .content_item_nav_sort {
    margin: 0;
  }
  .content_item_list {
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */