RewriteEngine On



RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|js|png|swf|txt|webp)$


RewriteRule ^$ index.php [L]


RewriteRule ^kind/([A-z|-]+)/?$ index.php?c=Catalog&lsp=$1 [QSA,L]

RewriteRule ^nsx/([A-z|-]+)/?$ index.php?c=NhaSanXuat&nsx=$1 [QSA,L]   

RewriteRule ^sanpham/([A-z|-]+)-([0-9]+).html$ index.php?c=SanPham$Url=$1&id=$2 [QSA,L]

RewriteRule ^logout$ index.php?c=Logout [l]

RewriteRule ^login$ index.php?c=Login [L]

RewriteRule ^test.*$ index.php?c=Test [L] 



ErrorDocument 404 /404.php


# doan.local/

# doan.local/catalog/[page]/[keyword]/[kind =all]/[nsx =all]/[1000-2000]

# doan.local/kind/[name]/[numberPage]

# doan.local/nsx/[name]/[numberPage]

# doan.local/sanpham/ten-gi-do-127

# doan.local/dondathang

# doan.local/giodang/

# doan.local/api/[table]/[]